body{
    margin: 0;
    padding: 0;
    background-image: url(imagenes/fondo.jpg);
}
header{
    text-align: center;
    color: aliceblue;
}
h2{
    text-align: center;
    color: antiquewhite;
}
.container{
    padding: 20px;
    display: flex;
    justify-content: center;
}
footer{
    background-color: aliceblue;
}